<html>
  <head>
  
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="http://rawgithub.com/brunob/leaflet.fullscreen/master/Control.FullScreen.js"></script>
    <script src="http://raw.github.com/Leaflet/Leaflet.markercluster/master/dist/leaflet.markercluster-src.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" /> 

    <script>
      var addressPoints = {{ geo |json_encode()|raw }};
    </script>
    <style>

#map { 
  height: 100%; 
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in;
  }


.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }
    </style> 

  </head>
  <body>
    <div id="map"></div>


    <script type="text/javascript">
    
      var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
          cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade, Points &copy 2012 LINZ',
          cloudmade = L.tileLayer(cloudmadeUrl, {maxZoom: 17, attribution: cloudmadeAttribution}),
          latlng = L.latLng(46.70, 2.51);
    
      var map = L.map('map', {center: latlng, zoom: 5, layers: [cloudmade]});
    
      var fullScreen = new L.Control.FullScreen(); 
      map.addControl(fullScreen);
    
      var markers = L.markerClusterGroup({maxClusterRadius:50, singleMarkerMode:true});
        
      for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        var title = a[2];
        var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
        marker.bindPopup(title);
        markers.addLayer(marker);
      }
    
      map.addLayer(markers);
  
    </script>


  </body>
</html>
